// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@400;500;700&display=swap");
@import "~@fortawesome/fontawesome-free/css/all.min.css";

// Set corporate design
$maximum-yellow-red: #f6bd60ff;
$saddle-brown: #874000ff;
$oxford-blue: #03254eff;
$morning-blue: #84a59dff;
$light-coral: #f28482ff;

$ci-font: #2c3e50;

$family-avenir: Avenir, Helvetica, Arial, sans-serif;
$family-yanone: "Yanone Kaffeesatz", sans-serif;

// Customizations Here (Optional)
$family-primary: $family-yanone;

// Overwrite bulma variables
$primary: $maximum-yellow-red;
$danger: $light-coral;
$info: $morning-blue;
$success: $oxford-blue;
$warning: $saddle-brown;

.is-text-overflow {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
