// Customizations Here (Optional)

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set corporate design
$ci-yellow-red: #F6BD60;
$ci-linen: #f7ede2;
$ci-baby-pink: #f5cac3;
$ci-morning-blue: #84a59d;
$ci-light-coral: #f28482;

$family-avenir: Avenir, Helvetica, Arial, sans-serif;
$family-primary: $family-avenir;

// Overwrite bulma variables
$primary: $ci-yellow-red;

// Bulma Import
@import '~bulma';